<a href="https://colab.research.google.com/github/meghananv3/haii/blob/master/Pythonlearning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sys
print(sys.argv, len(sys.argv))

['/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py', '-f', '/root/.local/share/jupyter/runtime/kernel-d3a48030-f9fa-463f-a785-5fd0ea852d2b.json'] 3

In [ ]:
#prints the input funtions
input()
name = ''

meghana

In [ ]:
#arthmetic options
print(5*6)

30

In [ ]:

print('5'*6)

555555

In [ ]:
for i in range(0,20):
  print(i**2,end=" ")

0 1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361

In [ ]:
4**4

256

In [ ]:
s = 'it is a boring day'
s

'it is a boring day'

In [ ]:
s.index('a')

6

In [ ]:
'i' in s

True

In [ ]:
'f' in s

False

In [ ]:
t = 'I wanna go home'
t

'I wanna go home'

In [ ]:
cs = t+":"+s
cs

'I wanna go home:it is a boring day'

In [ ]:
cs.split(":")

['I wanna go home', 'it is a boring day']

In [ ]:
"r" in t

False

In [ ]:
r = t.join(s)
r

'iI wanna go hometI wanna go home I wanna go homeiI wanna go homesI wanna go home I wanna go homeaI wanna go home I wanna go homebI wanna go homeoI wanna go homerI wanna go homeiI wanna go homenI wanna go homegI wanna go home I wanna go homedI wanna go homeaI wanna go homey'

In [ ]:
# prints the index
print (t[0])

I

 Print First 10 natural numbers using while loop

In [ ]:
#while loop
i = 1
while i<=10:
  print (i)
  i += 1

1
2
3
4
5
6
7
8
9
10

Calculate the multiplication and sum of two numbers

In [ ]:
a = int(input())
b = int(input())

56
78

In [ ]:
pro = a*b
result = (a+b) if pro<1000 else pro
result

4368

Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.

In [ ]:
for i in range(1,11):
  j=0
  j = i+1
  print("Current Number", i, "Previous Number ", j, " Sum: ", j + i)
  print(j)

Current Number 1 Previous Number  2  Sum:  3
2
Current Number 2 Previous Number  3  Sum:  5
3
Current Number 3 Previous Number  4  Sum:  7
4
Current Number 4 Previous Number  5  Sum:  9
5
Current Number 5 Previous Number  6  Sum:  11
6
Current Number 6 Previous Number  7  Sum:  13
7
Current Number 7 Previous Number  8  Sum:  15
8
Current Number 8 Previous Number  9  Sum:  17
9
Current Number 9 Previous Number  10  Sum:  19
10
Current Number 10 Previous Number  11  Sum:  21
11

Write a program to accept a string from the user and display characters that are present at an even index number.

In [ ]:
s = str(input())
t = s[0::2]
print(t)

find
fn

Write a program to remove characters from a string starting from zero up to n and return a new string.

In [ ]:
def st_num():
  s= str(input())
  n= int(input())
  t = s[n:]
  return t

In [ ]:
st_num()

random
4

'om'

Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

In [ ]:
def first_last_same(numberList):
    print("Given list:", numberList)
    
    first_num = numberList[0]
    last_num = numberList[-1]
    
    if first_num == last_num:
        return True
    else:
        return False

Display numbers divisible by 5 from a list

In [ ]:
num_list = [10, 20, 33, 46, 55]
print("Given list:", num_list)
print('Divisible by 5:')
for num in num_list:
    if num % 5 == 0:
        print(num)

Given list: [10, 20, 33, 46, 55]
Divisible by 5:
10
20
55

Return the count of a given substring from a string

In [ ]:
sr = "I am sorry,sorry for giving you wrong impression"

In [ ]:
cnt = sr.count("sorry")
print(cnt)

2

Print a triangle

In [ ]:
rows = 6
for i in range(rows):
    # nested loop
    for j in range(i):
        # display number
        print(i, end=' ')
    # new line after each row
    print('')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

Check Palindrome Number

In [ ]:
def palindrome(number):
    print("original number", number)
    original_num = number
    
    # reverse the given number
    reverse_num = 0
    while number > 0:
        reminder = number % 10
        reverse_num = (reverse_num * 10) + reminder
        number = number // 10

    # check numbers
    if original_num == reverse_num:
        print("Given number palindrome")
    else:
        print("Given number is not palindrome")

palindrome(121)
palindrome(125)

original number 121
Given number palindrome
original number 125
Given number is not palindrome

Given a two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

In [ ]:
def merge_list(list1, list2):
    result_list = []
    
    # iterate first list
    for num in list1:
        # check if current number is odd
        if num % 2 != 0:
            # add odd number to result list
            result_list.append(num)
    
    # iterate second list
    for num in list2:
        # check if current number is even
        if num % 2 == 0:
            # add even number to result list
            result_list.append(num)
    return result_list

list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
print("result list:", merge_list(list1, list2))

result list: [25, 35, 40, 60, 90]

Write a Program to extract each digit from an integer in the reverse order.

In [ ]:
number = 7536
print("Given number", number)
while number > 0:
    # get the last digit
    digit = number % 10
    # remove the last digit and repeat the loop
    number = number // 10
    print(digit, end=" ")

Given number 7536
6 3 5 7

In [ ]:
list1=[1,2,3,4,5]
res = for i in list1;
      print(i,(i+1))

SyntaxError: ignored

In [ ]:
print( 5 % 3 * 3 )

6

Print multiplication table form 1 to 10

In [3]:
for i in range (1,11):
  for j in range (1,11):
    print(i*j)
  print("\t\t")

1
2
3
4
5
6
7
8
9
10

2
4
6
8
10
12
14
16
18
20

3
6
9
12
15
18
21
24
27
30

4
8
12
16
20
24
28
32
36
40

5
10
15
20
25
30
35
40
45
50

6
12
18
24
30
36
42
48
54
60

7
14
21
28
35
42
49
56
63
70

8
16
24
32
40
48
56
64
72
80

9
18
27
36
45
54
63
72
81
90

10
20
30
40
50
60
70
80
90
100

Print downward Half-Pyramid Pattern with Star (asterisk)